{% extends 'base.html' %}


{% block body %}
<center>
<div class="content">
  <style>


          ul {
          list-style-type: "→ ";
          color: #ff6f00;
          list-style-position: inside;
      }
    </style>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no events. Create one below!</h4>
    {% else %}
        {% for task in tasks %}
          <h1>{{task.event_id}}</h1>

          <ul >
            <li>location:{{task.location}}</li>
            <li>GPS:{{task.Coordinates}}</li>
            <li>Score:{{task.score}}</li>
          </ul>
          </div>

        {% endfor %}
    {% endif %}


</div>
</center>
{% endblock %}
